
/src/NeuronalNetworks/NeuronalNetworks/bin
/src/NeuronalNetworks/NeuronalNetworks/obj
/src/NeuronalNetworks/NeuronalNetworks.App/obj
/src/NeuronalNetworks/NeuronalNetworks.App/bin
src\NeuronalNetworks\_ReSharper.NeuronalNetworks\BuildScriptCache*/
/src/NeuronalNetworks/_ReSharper.NeuronalNetworks
/src/NeuronalNetworks/NeuronalNetworks.Gui/obj
/src/NeuronalNetworks/NeuronalNetworks.Gui/bin
src/NeuronalNetworks/NeuronalNetworks.suo
src\NeuronalNetworks\NeuronalNetwork.Tests\bin\Debug*/
src\NeuronalNetworks\NeuronalNetwork.Tests\bin\Debug*/
/src/NeuronalNetworks/NeuronalNetwork.Tests/obj
/src/NeuronalNetworks/NeuronalNetwork.Tests/bin
/src/NeuronalNetworks/NeuronalNetworks.Tests/obj
/src/NeuronalNetworks/NeuronalNetworks.Tests/bin